
.input-section {
    display: inline-block;
    overflow-y: auto;
    max-height: 600px;
    margin: 20px;
    min-height: 550px;
}

.display-section{
    display: inline-block;
    width: calc(100% - 570px);
    margin: auto;
    min-width: 400px;
}
.header {
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
}

html *{
    font-family: Helvetica !important;
}

.header-img {
    width: 900px;
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
}

.container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.angle-section {
    width: 500px;
    text-align: center;
    border: solid 1px;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
}

.section-label {
    text-align: center;
    font-weight: bold;
}

.section-label.left {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border: solid 1px black;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    margin-right: 20px;
}

.section-label.right {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border: solid 1px black;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
}

.input-angle {
    width: 70px;
    font-size: 11px;
    padding: 2px;
    background-color: #D3D3D3;
    border: none;
    -webkit-overflow-scrolling: auto;
}

.input-euler-values {
    margin-top: 10px;
}

.convert-button {
    width: 80px;
    font-size: 11px;
    vertical-align: middle;
    margin-left: 10px;
    background-color: black;
    color: white;
    border: 1px solid grey;
}

.section-rotation-matrix-button {
    display: inline-block;
}

.section-rotation-matrix {
    display: inline-block;
}

#button-convert-rotation {
    margin-top: -50px;
}
.euler-button {
    width: 150px;
}